@font-face {
    font-family: Roboto-Light;
    src: url('/fonts/Roboto-Light.ttf');
}

a:hover {
	color: #555555;
}

i:hover {
	color: #555555;
} 

.logo-flair {
	background: url(https://osbot.org/images/forum/fireworksForName.gif);
    color: #E50000;
    font-weight: bold;
    text-shadow: 0 0 0.9em #E50000;
}

.user-menu-icon {
	height: 32.5px;
	width: 32.5px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 10px;
}

.user-flair {
	background: url(https://osbot.org/images/forum/fireworksForName.gif); 
	color: black; 
	font-weight: bold; 
	text-shadow: 0 0 5px white;
}
